<h2 mat-dialog-title class="form_title">{{surgeryConstants.NEWHOSPITAL}}</h2>
<mat-dialog-content [formGroup]="form">
    <div class="form_container">
        <mat-form-field class="form_input-field">
            <input matInput placeholder="{{surgeryConstants.HOSPITAL}}" type="text" formControlName="hospitalName" id="hospitalName" class="form_input-container">
            <mat-hint>No más de 1000 carácteres</mat-hint>
            <mat-error *ngIf="hasError('hospitalName', 'required')">El {{surgeryConstants.HOSPITAL}} es requerido</mat-error>
            <mat-error *ngIf="hasError('hospitalName', 'maxlength')">Tienes más de 1000 carácteres</mat-error>
        </mat-form-field>
    </div>

    <div class="form_container">
        <mat-form-field class="form_input-field">
            <input matInput placeholder="{{surgeryConstants.ADDRESS}}" type="text" formControlName="hospitalAddress" id="hospitalAddress" class="form_input-container">
            <mat-hint>No más de 1000 carácteres</mat-hint>
            <mat-error *ngIf="hasError('hospitalAddress', 'required')">La {{surgeryConstants.ADDRESS}} es requerida</mat-error>
            <mat-error *ngIf="hasError('hospitalAddress', 'maxlength')">Tienes más de 1000 carácteres</mat-error>
        </mat-form-field>
    </div>

    <div class="form_container">
        <mat-form-field class="form_input-field">
            <input matInput placeholder="{{surgeryConstants.PHONE}}" type="number" formControlName="hospitalPhone" id="hospitalPhone" class="form_input-container">
        </mat-form-field>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions>
    <div class="form_container form_container-button">
        <button class="mat-raised-button mat-primary button_save"
                (click)="save()" [disabled]="!form.valid">
            {{commonConstants.ADD}}
        </button>
        <button class="mat-raised-button button_close"
                (click)="close()">
            {{commonConstants.CANCEL}}
        </button>
    </div>
</mat-dialog-actions>
