$basic-background: #E4DFDF;
$secondary-background: white;
$first-primary-color: #5C1011;
$second-primary-color: #934343;
$third-primary-color: #DE3436;
$second-secondary-color: #F95C04;
$third-secondary-color: #EFF310;
$second-additional-color: #CAA554;
$table-hover: whitesmoke;
$table-active: #efefef;
$common-color: black;
$error-color: red;
