<app-header></app-header>
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="'list'">
                <mat-icon mat-list-icon>list</mat-icon>
                <span class="mat-text"*ngIf="isExpanded">Lista de pacientes</span>
            </mat-list-item>
            <mat-list-item [routerLink]="'new'">
                <mat-icon mat-list-icon>fiber_new</mat-icon>
                <span class="mat-text" *ngIf="isExpanded">Ficha Social</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <div>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
