<div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="{{tabs.SOCIALTAB}}">
            <div class="tabs_container">
                <app-patient></app-patient>
            </div>
        </mat-tab>
        <mat-tab label="{{tabs.SOCIALREPORTTAB}}">
            <div class="tabs_container">
                <app-social-report></app-social-report>
            </div>
        </mat-tab>
        <mat-tab label="{{tabs.PACEMAKER}}">
            <div class="tabs_container">
                <app-surgery></app-surgery>
            </div>
        </mat-tab>
        <mat-tab label="{{tabs.AIDTAB}}">
            <div class="tabs_container">
                <app-aid-list></app-aid-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
